<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Search</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Hotels</h1>
    <div class="container">
        <div class="input-group mb-3">
            <input type="text" id="searchQuery" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" id="hotelSearchButton" type="button" onclick="search()">
                    Search
                </button>
            </div>
        </div>

        <p class="invisible">You searched for: <span id="searchTerm"></span></p>
        <p class="invisible text-danger" id="hotelSearchErrorMessage">
            Sorry, we are facing some problems! Please try again later.
        </p>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">Details</th>
                <th></th>
            </tr>
            </thead>

            <tbody id="hotelsTableContent">
            <tr th:each="hotel : ${hotels}">
                <td th:utext="${hotel.id}"></td>
                <td th:utext="${hotel.name}"></td>
                <td th:utext="${hotel.cityName}"></td>
                <td><a th:href="@{/hotels(id=${hotel.id})}">Details</a></td>
            </tr>
            </tbody>
        </table>

        <a href="/hotels/new-hotel">Add Hotel</a>
    </div>

    <template id="row-template">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>city</td>
            <td>link</td>
        </tr>
    </template>

    <script>
        function addRow(hotel) {
            const template = document.getElementById('row-template');
            const row = document.importNode(template.content, true);
            const tds = row.querySelectorAll('td');

            tds[0].innerHTML = hotel.id;
            tds[1].innerHTML = hotel.name;
            tds[2].textContent = hotel.cityName;
            tds[3].textContent = `<a href="/hotels?id=${hotel.id}">Details</a>`;

            const tbody = document.querySelector('#hotelsTableContent');
            tbody.appendChild(row);
        }

        function clearSearchResults() {
            const tbody = document.querySelector('#hotelsTableContent');
            tbody.innerHTML = '';
        }

        function updateSearchTerm(searchQuery) {
            const searchTerm = document.getElementById('searchTerm');
            searchTerm.innerHTML = searchQuery;
            searchTerm.parentElement.classList.remove('invisible');
        }

        function showErrorMessage() {
            document.getElementById('hotelSearchErrorMessage').classList.remove('invisible');
        }

        function hideErrorMessage() {
            document.getElementById('hotelSearchErrorMessage').classList.add('invisible');
        }

        function handleErrors(response) {
            if (!response.ok) {
                throw new Error(response.statusText);
            }
            return response;
        }

        function getSearchQuery() {
            return document.getElementById('searchQuery').value;
        }

        function updateSearchResults(hotelList) {
            hotelList.forEach(addRow);
        }

        function search() {
            clearSearchResults();
            hideErrorMessage();

            const searchQuery = getSearchQuery();
            updateSearchTerm(searchQuery);

            fetch(`/api/hotels/search?query=${encodeURIComponent(searchQuery)}`)
                .then(handleErrors)
                .then(response => response.json())
                .then(updateSearchResults)
                .catch(showErrorMessage);
        }

        function onEnter(event) {
            if (event.key === 'Enter') {
                search();
            }
        }

        document.getElementById('searchQuery').addEventListener('keyup', onEnter);
    </script>
</div>
</body>
</html>