<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Details</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Hotel details</h1>

    <div class="row">
        <form class="col-5">
            <div class="form-group">
                <b><label>ID:</label></b>
                <label th:text="${hotel.id}"></label>
            </div>

            <div class="form-group">
                <b><label>Name:</label></b>
                <label th:text="${hotel.name}"></label>
            </div>

            <div class="form-group">
                <b><label>City:</label></b>
                <label th:text="${hotel.cityName}"></label>
            </div>
            <div class="form-group">
                <b><label>Address:</label></b>
                <label th:text="${hotel.address}"></label>
            </div>
            <div class="form-group">
                <b><label>Description:</label></b>
                <label style="text-align: justify; display: block;" th:text="${hotel.description}"></label>
            </div>
            <div class="form-group">
                <label>Rating:</label>
                <b><label th:text="${averageRating}"></label></b>
            </div>
            <div class="form-group">
                <label>My rating:</label>
                <b><label th:text="${userRating}"></label></b>
            </div>
            <div class="form-group">
                <input type="radio" id="1" name="rating" value="1"
                       th:disabled="${not #authorization.expression('hasAuthority(''RATE_HOTEL'')')}">
                <label for="1">1</label>
                <input type="radio" id="2" name="rating" value="2"
                       th:disabled="${not #authorization.expression('hasAuthority(''RATE_HOTEL'')')}">
                <label for="2">2</label>
                <input type="radio" id="3" name="rating" value="3"
                       th:disabled="${not #authorization.expression('hasAuthority(''RATE_HOTEL'')')}">
                <label for="3">3</label>
                <input type="radio" id="4" name="rating" value="4"
                       th:disabled="${not #authorization.expression('hasAuthority(''RATE_HOTEL'')')}">
                <label for="4">4</label>
                <input type="radio" id="5" name="rating" value="5"
                       th:disabled="${not #authorization.expression('hasAuthority(''RATE_HOTEL'')')}">
                <label for="5">5</label>
                <button id="rateHotel" class="btn btn-primary mt-2"
                        th:disabled="${not #authorization.expression('hasAuthority(''RATE_HOTEL'')')}">Rate</button>
            </div>
        </form>
    </div>
    <div class="mt-2 mb-2">
        <a th:href="@{'/reservations/new/' + ${hotel.id}}">Create a reservation</a>
    </div>

    <div class="mt-2 mb-2">
        <a href="/hotels">Back to hotels</a>
    </div>

    <script th:inline="javascript">
        const hotelId = [[${hotel.id}]];
    </script>
    <script>
        window.addEventListener('load', function () {

            document.getElementById("rateHotel").addEventListener("click", function () {
                const rating = document.querySelector('input[name="rating"]:checked').value;
                fetch('/ratings', {
                    method: 'POST',
                    body: JSON.stringify({
                        hotelId: hotelId,
                        rating: rating
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function () {
                    console.log(window.location)
                    window.location.reload();
                });
            });
        });
    </script>
</div>
</body>
</html>
